*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: #F02F34;
    color: white;
    height: 100vh;
        
    display: flex;
    justify-content: center;
    align-items:center;
}

div{
    background-color: rgb(165, 45, 45);
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px #8d1d21 solid;
    border-width: 5px;
    border-radius: 10px;
}

h1{
    color: beige;
}
p{
    color: blanchedalmond;
}
button{
    height: 40px;
    width: 80px;
    background-color: #b42529;
    color: rgb(36, 33, 33);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}