<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="{{url_for( 'static', filename='style2.css')}}">
</head>
<body>
    <div class="form">
            
            <form method="POST" action="/submit">
                
                <div class="login_form">
                    <label class="label" for="name">Name</label> <br>
                    <input class="input" name="username" type="text" id="name" placeholder="USERNAME">      <br><br>
                </div>     

                <div class="login_form">
                    <label class="label"  for="pass">Password</label> <br>
                    <input class="input" name="password" type="password" id="pass" placeholder="PASSWORD"> <br><br>
                </div>
          
                <button id="button" type="submit" value="login">Login</button>
        
            </form>
    
    </div>

</body>
</html>